<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col item social"><a href="https://www.linkedin.com/in/dawaraamir97/" target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/dawaraamir" target="_blank"><i class="icon ion-social-github"></i></a><a href="https://dawaraamir.github.io/Dawar-Aamir-Portfolio/" target="_blank"><i class="icon ion-paperclip"></i></a></div>
            </div>
            <p class="copyright">DawarPower © 2021</p>
        </div>
    </footer>
</div>
