<app-header></app-header>
<div class="about-section">
    <h1>About Us</h1>
    <p>This fitness library is here to promote knowledge of exercises to incorperate into your daily life both at home or in the gym. We are here to share and grow together as a community!</p>
  </div>

  <h2 style="text-align:center">Founder/Creator</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/hVN4brt/IMG-6052.jpg" alt="Dawar" style="width:100%">
        <div class="container">
          <h2>Dawar Aamir</h2>
          <p class="title">CEO & Founder</p>
          <p>Dawar is a fitness enthusist that is merging his passion in a healthy
              <br> lifestyle with this web app to create a community of knowledge for <br> all things exercise.</p>
          <a href="mailto: dawar.aamir@gmail.com">dawar.aamir@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="column">
            <iframe src="https://embedsocial.com/facebook_album/pro_hashtag/eee7b1ab4dd0949fe1589aef456dad06e3292f60" width="900px" height="1200px" frameborder="0" marginheight="0" marginwidth="0"></iframe>
    </div>
  </div>
  <app-footer></app-footer>
