<div class="container">
    <img src="https://images.squarespace-cdn.com/content/v1/5b96a278cc8fed3edf98dd98/1538459496942-5NBWBFSM2APP8ON86B7T/ke17ZwdGBToddI8pDm48kKUszbBbtH7lPWVFIkMd1p8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dtIR-sOLRGkxcAnRSRio4lhWSRRuvmj1lIzuV8sR0d6CpC969RuPXvt2ZwyzUXQf7Q/cover-levelup.jpg?format=2500w" alt="">
    <form action="" (ngSubmit)="goToList()">
    <div class="top-middle">Fit Library</div>
    <span><a href="/exercise-list"></a></span>
    <!-- <button type="submit" class="btn btn-dark">Begin Journey</button> -->
    <div class="bottom-middle"> <i> Your source of exercise knowledge.</i>
    </div>
</form>
    </div>