.container{
    color: white;
    position: relative;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  .top-middle {
    font-size:150px;
    text-align: center;
    position: relative;
  }
  button{
    position: relative;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  .bottom-middle {
    font-size:60px;
    text-align: center;
    position: relative;
    margin-top: 400px;
  }
  img{
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  .btn:hover{
    color: white;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

  span{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span a:before,
  span a:after{
    position: absolute;
    content: "Begin Journey";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 5px;
  }
  span a:before{
    color: black;
    background: white;
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    color: white;
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }